# Gradle files
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Local configuration
local.properties
*.iml

# Android Studio
.idea/
*.iws
*.ipr
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/caches
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml

# Keystore files
*.jks
*.keystore

# Logs
*.log

# Generated APKs / Bundles
*.apk
*.ap_ 
*.aab

# External native build
.externalNativeBuild

# IntelliJ
out/
